<h1>BattleRoyalle: CLI Remote Access [ALPHA]</h1>

<p>Welcome to BattleRoyalle's Remote Terminal!</p>

<p>Here you can access registered client machines by using your online terminal!</p>
<p>By clicking in the option "Machines Connected", you will see a list of machines connected to this server at this momment</p>
<p>Click in the <span class="glyphicon glyphicon-cog"></span> of the desired machine and a screen will appear for you to send your commands right here!</p>
<p>Click in the <span class="glyphicon glyphicon-off"></span> of the desired machine to check if it is connected (machines disconnected will not load their commands panel)</p>
<p>We developed the very first version, so keep those observations in mind:</p>
<ul>
    <li>We are still developing the PowerShell funcionality. Wait until the next version to use it.</li>
    <li>Currently, the application receives only one command at a time. Future versions will support the and (&&) command.</li>
    <li>The screens presented here are still in prototyping process. If you have any improvement suggestions, contact us, we will be ready to hear from you!</li>
    <li>If you find any bug, please talk to us immediately and we will solve the problem for you!</li>
</ul>
<p>Thank you, and enjoy the application!</p>
